<div>
    <h2 id="page-heading">
        <span>LIste des Produits</span>
        <hr/>
        <div class="row">
            <!-- <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Type de Produit</div>
                    </div>
                    <select class="form-control" [(ngModel)]="typeProduit">  
                        <option [ngValue]="null">Tout</option>
                        <option [ngValue]="typeProduitOption.id" *ngFor="let typeProduitOption of typeproduits; trackBy: trackById">{{ typeProduitOption.libelle }}</option>
                    </select>
                </div>
            </div> -->
            <!-- <div class="col-sm-1">
                <div class="input-group">
                    <select [(ngModel)]="actif" class="form-control" name="actif">
                        <option [value]="tout">Tout</option>
                        <option [value]="actif">Actifs</option>
                        <option [value]="inactif">Inactifs</option>
                    </select>
                </div>
            </div> -->
            <div class="col-sm-1">
                <button type="submit" class="btn btn-info" (click)="exportList()"><i class="fa fa-database"></i> Exporter</button>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-info" (click)="restStock()"><i class="fa fa-database"></i> Reset Stock</button>
            </div>
        </div>
        <hr/>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-products" [routerLink]="['/products/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Products
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="products?.length === 0">
        <span>No products found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="products && products.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelle"><span>Libelle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prixVente"><span>Prix Vente</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isDisabled"><span>Is Disabled</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantite"><span>Quantite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="comments"><span>Comments</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typeProduitLibelle"><span>Type Produit</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let products of products ;trackBy: trackId">
                    <td><a [routerLink]="['/products', products.id, 'view']">{{ products.id }}</a></td>
                    <td>{{ products.libelle }}</td>
                    <td>{{ products.prixVente }}</td>
                    <td>
                        <button class="btn btn-success btn-sm" (click)="setActive(products, true)" *ngIf="!products.isDisabled">Activated</button>
                        <button class="btn btn-danger btn-sm" (click)="setActive(products, false)" *ngIf="products.isDisabled">Deactivated</button>
                    </td>
                    <td>{{ products.quantite }}</td>
                    <td>{{ products.comments }}</td>
                    <td>
                        <div *ngIf="products.typeProduitId">
                            <a [routerLink]="['/type-produit', products.typeProduitId , 'view']" >{{ products.typeProduitLibelle }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/products', products.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/products', products.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(products)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="products && products.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
