<div>
    <h2 id="page-heading">
        <span>Depenses</span>
        <hr/>
        <div class="row">
            <div class="col-sm-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Date Début</div>
                    </div>
                    <input id="field_date" type="text" class="form-control" name="dateDebut" ngbDatepicker #dateDp="ngbDatepicker" [(ngModel)]="dateDebut" (ngModelChange)="onChangeDate($event)"/>
                    <span class="input-group-append">
                        <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                    </span>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Date Fin</div>
                    </div>
                    <input id="field_date" type="text" class="form-control" name="dateFin" ngbDatepicker #dateDp="ngbDatepicker" [(ngModel)]="dateFin" (ngModelChange)="onChangeDate($event)"/>
                    <span class="input-group-append">
                        <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                    </span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Type Dépense</div>
                    </div>
                    <select class="form-control"  [(ngModel)]="typedepense">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="typeDepenseOption" *ngFor="let typeDepenseOption of typedepenses">{{ typeDepenseOption.libelle }}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-1">
                <button type="submit" class="btn btn-info" [disabled]='typedepense==""' (click)="downloadPdf()"><i class="fa fa-database"></i> Exporter</button>
              </div>
        </div>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-depenses" [routerLink]="['/depenses/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Nouvelle Dépense
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="depenses?.length === 0">
        <span>No depenses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="depenses && depenses.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="montant"><span>Montant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="comments"><span>Comments</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span>Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <!-- <th scope="col"  jhiSortBy="annule"><span>Annule</span> <fa-icon icon="sort"></fa-icon></th> -->
                    <th scope="col"  jhiSortBy="typeDepenseLibelle"><span>Type Depense</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let depenses of depenses ;trackBy: trackId">
                    <td><a [routerLink]="['/depenses', depenses.id, 'view']">{{ depenses.id }}</a></td>
                    <td>{{ depenses.montant }}</td>
                    <td>{{ depenses.comments }}</td>
                    <td>{{ depenses.date | date:'mediumDate' }}</td>
                    <!-- <td>{{ depenses.annule }}</td> -->
                    <td>
                        <div *ngIf="depenses.typeDepenseId">
                            <a [routerLink]="['/type-depense', depenses.typeDepenseId , 'view']" >{{ depenses.typeDepenseLibelle }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/depenses', depenses.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/depenses', depenses.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="annuleDepense(depenses, true)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Annuler</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="depenses && depenses.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
